<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry Hyunkyu Lee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

    <script>hljs.highlightAll();</script>
    <style>
        footer {
            margin: 3% 0;
            text-align: center;
        }
        table {
            border-collapse: collapse;
        }
        thead {
            border-bottom: 1px solid lightgray;
        }
        tr {
            border-bottom: 1px solid lightgray;
        }
        tr:last-child {
            border-bottom: none;
        }
        th, td {
            padding: 10px;
        }
        i {
            font-weight: bold;
        }
        .breadcrumb {
            list-style: none;
        }
        .breadcrumb li {
            display: inline;
            margin-right: 5px;
        }
        .breadcrumb li:not(:last-child)::after {
            content: '/'; /* Separator between breadcrumb items */
            margin-left: 5px;
            margin-right: 5px;
            color: #999; /* Color for the separator */
        }
    </style>
</head>
<body>
    <header>
        <h1>Henry Lee (이현규)</h1>
        <nav>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Profile</a>
                </li>
                <li>
                    <a href="til.html">Blog</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/hughqlee/">Linkedin</a>
                </li>
                <li>
                    <a href="https://github.com/hughqlee">Github</a>
                </li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <article>
            <table>
                <thead>
                    <tr>
                        <th>일자</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-23
                        </th>
                        <td>
                            HTML input tag's minlength
                            <form action="#">
                                <input type="text" minlength="3">
                                <input type="submit" value="search">
                            </form>
<pre><code class="html">
&lt;form action="#"&gt;
    &lt;input type="text" minlength="3"&gt;
    &lt;input type="submit" value="search"&gt;
&lt;/form&gt;
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-22
                        </th>
                        <td>
                            Delete duplicates by 'name' at django.<br>
                            exclude()가 포인트!
<pre><code class="python">
from django.db.models import Count
from app_name.models import Model_name

duplicates_names = Model_name.objects.values('name').annotate(count=Count('id')).filter(count__gt=1)
for duplicate in duplicates_names:
    name = duplicate['name']
    duplicate_records = Model_name.objects.filter(name=name)

    besk_pk = None
    for record in duplicate_records:
        if not best_pk:
            best_pk = record.pk
            best_cnt = record.cnt_drugs()
        elif record.cnt_drugs() > best_cnt:
            best_pk = record.pk
            best_cnt = record.cnt_drugs()

    duplicate_records.exclude(pk=best_pk).delete()
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-19
                        </th>
                        <td>
                            Django Template Filter 만들어 쓰기 (Customize)<br>
                            Data의 형태가 0.289467와 같이 float type일 때, 28.94 %와 같이 퍼센트로 표시하고 싶었으나, 기본 템플릿 필터에는 해당 기능 없음.<br>
                            포인트는 html에서 load하는 부분과 python에서 register.filter하는 부분.<br>
                            floatformat:2로 소수점 둘째자리까지 표시하는 것도 꺠알 팁! 
<pre><code class="python">
# project_name/app_name/templatetags/__init__.py 있어야 하나?
# project_name/app_name/templatetags/filters.py

from django import template

register = template.Library()
@register.filter
def multiply(value, arg):
    return value*arg
</code></pre>
<pre><code class="html">
{% load filters %}

{{ obj.rate|multiply:100|floatformat:2 }} %
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-17
                        </th>
                        <td>
                            리스트 일부 노출 후 더보기 기능 구현<br>
                            tr을 display: none;으로 가리고 initIndications()을 통해서 일부(5개) 먼저 노출.<br>
                            그리고 버튼 클릭시 전체 노출하고 버튼을 가리기.
<pre><code class="html">
&lt;tbody&gt;
    {% for indication in indications %}
    &lt;tr class="indication" style="display: none;"&gt;
        &lt;td&gt;
            {{ indication }}
        &lt;/td&gt;
    &lt;/tr&gt;
    {% endfor %}
&lt;/tbody&gt;
&lt;/table&gt;
{% if indications %}
&lt;button class="secondary outline" style="width: 120px; margin-left: 20px;" onclick="seeMore()"&gt;
    More
&lt;button&gt;
{% endif %}
</code></pre>
<pre><code class="javascript">
function initIndications() {
    const indications = document.getElementsByClassName("indication");
    for (let i=0; i<5; i++) {
        indications[i].style.display = 'table-row';
    };
}
initIndications()

function seeMore() {
    const indications = document.getElementsByClassName("indication");
    for (let i=0; i&lt;indications.length; i++) {
        indications[i].style.display = 'table-row';
    };

    const btnMore = document.querySelector(".secondary");
    btnMore.style.display = 'none';
}
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-16
                        </th>
                        <td>
                            selenium "out of memory" issue. <br>
                            엣지(Edge) 브라우저가 out of memory 오류로 이상 종료되고, 크롤링이 중단되는 이슈를 배치 프로세싱으로 해결.
<pre><code class="python">
batch_size = 1000
starts = 시작_idx
max_idx = 총_idx
for batch_starts in range(starts, max_idx, batch_size):
    batch_ends = min(batch_starts+batch_size, max_idx)
    # 배치 구성하고 배치 별로 브라우저 실행하여 크롤링 수행.
    driver = webdriver.Edge(service=service, options=options)
    driver.implicitly_wait(2)
    for i in range(batch_starts, batch_ends):
        url = 사이트_주소
        driver.get(url)
        '''
        크롤링 수행 코드
        '''
    # 배치 별 브라우저 메모리 점유 삭제하고 종료.
    driver.delete_all_cookies()
    driver.execute_script("window.localStorage.claer();")
    driver.execute_script("window.sessionStorage.claer();")
    driver.quit()
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-15
                        </th>
                        <td>
                            AWS Ubuntu server init
<pre><code class="shell">
$ python --version

Command 'python' not found, did you mean:
    command 'python3' from deb python3
    command 'python' from deb python-is-python3
</code></pre>
<pre><code class="shell">
$ type python python2 python3

-bash: type: python: not found
-bash: type: python2: not found
python3 is hashed (/usr/bin/python3)
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-12
                        </th>
                        <td>
                            Django ManyToManyFiled 필터링 하기.
<pre><code class="python">
from django.db.models import Model

class Gene(Model):
    name = CharField()


class Drug(Model):
    name = CharField()
    gene = ManyToManyFiled(Gene)


class Indication(Model):
    name = CharField()
    drug = ManyToManyFiled(Drug)
</code></pre>
<pre><code class="python">
from .models import Drug, Indication

def view(request, pk):
    '''
    pk는 gene의 pk
    '''
    drugs = Drug.objects.filter(gene_pk=pk) #-> QuerySet
    indications = Indication.objects.filter(drug_in=drugs)
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-11
                        </th>
                        <td>
                            selenium Select로 HTML Dropdown 다루기.
<pre><code class="python">
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select

select_element = driver.find_element(By.TAG_NAME, 'select')
select = Select(select_element)
select.select_by_index(3) # 4th option has idx 3.
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-10
                        </th>
                        <td>
                            구글 SMTP 사용하기.<br>
                            계정 설정, 2단계 인증 후 앱 비밀번호 발급 필수
<pre><code class="python">
# settings.py
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'henrylee@zefit.co.kr'
EMAIL_HOST_PASSWORD = '앱비밀번호without공백'
</code></pre>
<pre><code class="python">
# views.py
from django.core.mail import send_mail

send_mail(
    subject='메일 제목',
    message='메일 내용',
    from_email='noreply@zefit.co.kr' # not working, need to check
    recipient_list = ['수신 이메일',]
    fail_silently=False, # 실패시 에러창(디버깅) return
)
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-09
                        </th>
                        <td>
                            python dictionary 정렬 by value 내림차순<br>
                            단, return은 tuple's list임. 예.[('C',3), ('B',2), ('A', 1)]
<pre><code class="python">
sorted_list = sorted(
    dictionary.items(),
    key=lambda item: item[1],
    reverse=True
)
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-08
                        </th>
                        <td>
                            Python list는 대괄호[] 내에 작은 따옴표로 element가 존재함. 때문에 JSON.parse에서 에러 발생.<br>
                            작은 따옴표를 큰 따옴표로 replace한 후 JSON.parse() 통해서 handling할 수 있게 함.
<pre><code class="python">
# Django views.py
def view(request):
    ...
    datas = ['elm1', 'elm2', 'elm3', 'elm4']
    return render(request, 'template.html', {'datas': datas})
</code></pre>
<pre><code class="html">
&lt;!--template.html--&gt;
&lt;div datas="{{datas}}"&gt;
</code></pre>        
<pre><code class="javascript">
// script
const data_string = document.getElementById('keywords').getAttribute('datas');
const data_preprocessed = data_string.replace(/'/g, '"');
if (data_string !== '') {
    const data_array = JSON.parse(data_preprocessed)
    data_array.forEach(element => {
        ...
    });
}
</code></pre>
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-07
                        </th>
                        <td>
                            <p>
                                <b>selenium ver.4 with Edge browser</b>
                            </p>             
<pre><code class="python">
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.webdriver.edge.options import Options
from selenium.webdriver.common.by import By

driver = 'path/to/msedgedriver.exe'
service = Service(driver)

options = Options()

browser = webdriver.Edge(service=service, options=options)  
browser.get('http://127.0.0.1:5500/example.html')
browser.implicitly_wait(2)

specific_element = browser.find_element(By.ID, 'id_name')
next_element = specific_element.find_element(By.XPATH, 'following-sibling::*[1]')
# by XPath, following-sibling 키워드로 같은 계층 elements :: 전체(*) 중 첫[1] element

print(next_element.text)
browser.quit()
</code></pre>

By가 핵심 변경점!
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-06
                        </th>
                        <td>
                            <p>
                                <b>html datalist</b><br>
                                the <i>list</i> of <i>input</i> should be same with the <i>id</i> of <i>datalist</i>.
                            </p>
                            <input type="text" name="search" id="search" list="phones">
                            <datalist id="phones">
                                <option value="iPhone"></option>
                                <option value="Galaxy"></option>
                                <option value="Blackberry"></option>
                            </datalist>
                            <input type="button" value="search">
                            
<pre><code class="html">
&lt;input type="text" name="search" id="search" list="phones"&gt;
&lt;datalist id="phones"&gt;
    &lt;option value="iPhone"&gt;&lt;/option&gt;
    &lt;option value="Galaxy"&gt;&lt;/option&gt;
    &lt;option value="Blackberry"&gt;&lt;/option&gt;
&lt;/datalist&gt;
&lt;input type="button" value="search"&gt;
</code></pre>

다 좋은데, 데이터가 많아지면 ugly해서 picocss에서는 지원하지 않는다고...
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-05
                        </th>
                        <td>
                            javascript로 python server에 통신하기.
<pre><code class="javascript">
csrftoken = getCookie('csrftoken')
array = Array(...)

fetch('/', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
    },
    body: JSON.stringify(array)
})
</code></pre>
<pre><code class="python">
import json

items = json.loads(request.body)
</code></pre>
csrftoken 부분은 re-confirm하기.
                        </td>
                    </tr>
                    <!-- Post end -->
                    <!-- Post start -->
                    <tr>
                        <th>
                            2024-01-04
                        </th>
                        <td>
                            Profile과 Blog(TIL)로 간소화.<br> 2024년 잔디심기 목표 설정: 1)TIL 2)HTML 및 CSS로 꾸미기.
                        </td>
                    </tr>
                    <!-- Post end -->
                    <tr>
                        <th>
                            2023-11-23
                        </th>
                        <td>
                            Fluorescence Microscopy의 핵심은 Excitation과 Emission [<a href="https://www.ibric.org/bric/webinar/academic-all.do?mode=view&id=615" target="_blank">참조</a>]
                        </td>
                    </tr>
                    <tr>
                        <th>
                            2023-11-16
                        </th>
                        <td>
                            윈도우는 tensorflow cuda 2.10 버전까지 지원 [<a href="https://www.tensorflow.org/install/source_windows?hl=ko#gpu" target="_blank">참조</a>]
                        </td>
                    </tr>
                    <tr>
                        <th>
                            2023-11-15
                        </th>
                        <td>
                            인덱스_지정_박스 = tf.gather(박스s, 인덱스s) [<a href="https://www.tensorflow.org/api_docs/python/tf/gather" target="_blank">Docs</a>]
                        </td>
                    </tr>
                    <tr>
                        <th>
                            2023-10-31
                        </th>
                        <td>
                            <a href="https://www.berkshirehathaway.com/" target="_blank">https://www.berkshirehathaway.com/</a>에 영감을 얻어 github page 새로 만듦.
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </main>
    <footer>
        Designed by Henry Lee. All rights reserved.<br>
        Motivated by https://www.berkshirehathaway.com/
    </footer>
</body>
</html>